# Tests the nscloud-cache-action against all cache modes using the current space binary.
# This ensures changes to space don't break any cache mode integrations.

name: Cache action

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  merge_group:
    types: [checks_requested]

jobs:
  modes:
    # TODO: Update to main branch SHA once PR #64 is merged
    # https://github.com/namespacelabs/nscloud-cache-action/pull/64
    uses: namespacelabs/nscloud-cache-action/.github/workflows/modes-reusable.yaml@581e820d93b98587a24c0999c51e6b9a116cbede # space-matrix-reusable
    with:
      space-source-ref: ${{ github.event.pull_request.head.sha || github.sha }}
