name: Reusable Verify

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  merge_group:
    types: [checks_requested]

jobs:
  cache-action:
    uses: namespacelabs/nscloud-cache-action/.github/workflows/reusable-validation.yaml@8f6396aef6352530ebfd8f51ba890e9d970b04f8
    with:
      cache-action-version: "namespacelabs/nscloud-cache-action@04eee14069dcc959287975ff6cf4c2c0844d7342"
