name: Reusable Verify

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  merge_group:
    types: [checks_requested]

jobs:
  cache-action:
    uses: namespacelabs/nscloud-cache-action/.github/workflows/reusable-verify.yaml@1c5d5c388981fedada59234f925bcb63a0e58a39
